# Auto detect text files and perform LF normalization
* text=auto

Vill fixa en topbar med alla cursoruppgraderingar och en högerbar med alla autoclickers och en högerbar med allt annat.
Vill fixa så att alla knappar syns samtidigt och att man inte blir cucked av att man klickar på dem i fel ordning.