.emilcounterbox{
    min-width: 100px;
    max-width: 175px;
    max-height: 50px;
    min-height: 50px;
    margin-left: 10px;
    margin-top: 10px;   
}

.button {
    touch-action: manipulation;
    size: 0px;
    border: 0px;
    padding: 0px;
    border: none;
    display: inline-block;
    border-radius: 0px;
}

#piss{
    border:0px;
}

img{
    vertical-align: middle;

}