body {
     margin: 0;
     padding: 0;
}

header {
     background: #f1f1f1;
     text-align: center;
}

header button {

}

header button img {
     width: 100px;
     height: 100px;
}

main {
     display: flex;
}

main section, main aside {
     padding: 15px;
}

main section {
     flex: 1;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}

main section div.counter {
     font-size: 28px;
     margin: 25px 0;
}

main section button img {
     width: 250px;
     height: 250px;
}

main aside {
     display: flex;
     align-items: center;
}

main aside button img {
     width: 100px;
     height: 100px;
}